<h1>Games</h1>

<table>
  <tr>
    <th>iTunesId</th>
  </tr>

<% @i_tunes_games.each do |i_tunes_game| %>
  <tr>
    <td><a href="/itunes/<%= i_tunes_game.iTunesId %>"><%= i_tunes_game.iTunesId %></a></td>
  </tr>
<% end %>
</table>
<%= will_paginate @i_tunes_games %>
<%= page_entries_info @i_tunes_games %>
<br />
