<p id="notice"><%= notice %></p>

<p>
  <b>Itunesid:</b>
  <%= @iTunesGameSummary.iTunesId %>
</p>

<p>
  <b>Number of 5 star Ratings:</b>
  <%= @i_tunes_game.count_5_star %>
</p>


<%= link_to 'Back', i_tunes_games_path %>
